In [1]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

In [3]:
##
## Row representa una fila en un RDD
#
from pyspark.sql import Row
##
## Crea un DataFrame a partir del archivo con
## formato CSV
##
nombre_archivo="icfes_taller"
df = spark.read.load("D:\\CLASES\\ELECTIVA 3 BigData\\Taller_final\\"+nombre_archivo+".csv",
                     format="csv",
                     sep="|",
                     inferSchema= True,
                     encoding='UTF-8',
                     decimal=".",
                     header="true")
df.printSchema()

root
 |-- estu_edad: double (nullable = true)
 |-- estu_genero: string (nullable = true)
 |-- estu_nacimiento_dia: double (nullable = true)
 |-- estu_nacimiento_mes: double (nullable = true)
 |-- estu_nacimiento_anno: double (nullable = true)
 |-- estu_zona_reside: double (nullable = true)
 |-- estu_area_reside: double (nullable = true)
 |-- cole_valor_pension: double (nullable = true)
 |-- estu_trabaja: double (nullable = true)
 |-- fami_estrato_vivienda: double (nullable = true)
 |-- estu_veces_estado: double (nullable = true)
 |-- fami_educa_padre: double (nullable = true)
 |-- fami_educa_madre: double (nullable = true)
 |-- fami_ocup_padre: double (nullable = true)
 |-- fami_ocup_madre: double (nullable = true)
 |-- fami_nivel_sisben: double (nullable = true)
 |-- fami_pisos_hogar: double (nullable = true)
 |-- fami_personas_hogar: double (nullable = true)
 |-- fami_telefono_fijo: double (nullable = true)
 |-- fami_celular: double (nullable = true)
 |-- fami_internet: double (nullable = true)
 |-- fami_servicio_television: double (nullable = true)
 |-- fami_computador: double (nullable = true)
 |-- fami_lavadora: double (nullable = true)
 |-- fami_nevera: double (nullable = true)
 |-- fami_horno: double (nullable = true)
 |-- fami_dvd: double (nullable = true)
 |-- fami_microondas: double (nullable = true)
 |-- fami_automovil: double (nullable = true)
 |-- fami_ing_fmiliar_mensual: double (nullable = true)
 |-- estu_anos_preescolar: double (nullable = true)
 |-- estu_reprobo_primero: double (nullable = true)
 |-- estu_anos_colegio_actual: double (nullable = true)
 |-- estu_cuantos_cole_estudio: double (nullable = true)
 |-- estu_razon_retiro: double (nullable = true)
 |-- estu_total_alumnos_curso: double (nullable = true)
 |-- estu_prestigioinstitucion: double (nullable = true)
 |-- estu_por_ubicacion: double (nullable = true)
 |-- estu_por_unicaqueofrece: double (nullable = true)
 |-- estu_por_amigosestudiando: double (nullable = true)
 |-- estu_por_otrarazon: double (nullable = true)
 |-- estu_por_orientacionvocacional: double (nullable = true)
 |-- estu_por_tradicionfamiliar: double (nullable = true)
 |-- estu_por_influenciaalguien: double (nullable = true)
 |-- cole_cod_icfes: integer (nullable = true)
 |-- cole_nombre_sede: string (nullable = true)
 |-- cole_calendario: string (nullable = true)
 |-- cole_genero: string (nullable = true)
 |-- cole_naturaleza: string (nullable = true)
 |-- cole_bilingue: double (nullable = true)
 |-- cole_jornada: string (nullable = true)
 |-- cole_caracter: string (nullable = true)
 |-- prom_puntaje: double (nullable = true)
 |-- clase: integer (nullable = true)

In [6]:
df.select("estu_edad","prom_puntaje","cole_cod_icfes",'cole_nombre_sede').where("cole_cod_icfes=39255").show(1000)

+---------+------------------+--------------+--------------------+
|estu_edad|      prom_puntaje|cole_cod_icfes|    cole_nombre_sede|
+---------+------------------+--------------+--------------------+
|     16.0|          50.42875|         39255|INSTITUCION EDUCA...|
|     17.0|43.397499999999994|         39255|INSTITUCION EDUCA...|
|     16.0|58.356249999999996|         39255|INSTITUCION EDUCA...|
|     16.0|           52.1875|         39255|INSTITUCION EDUCA...|
|     17.0|59.401250000000005|         39255|INSTITUCION EDUCA...|
|     17.0|56.459999999999994|         39255|INSTITUCION EDUCA...|
|     19.0|          46.66625|         39255|INSTITUCION EDUCA...|
|     16.0|45.443749999999994|         39255|INSTITUCION EDUCA...|
|     18.0|             47.77|         39255|INSTITUCION EDUCA...|
|     16.0|              49.2|         39255|INSTITUCION EDUCA...|
|     19.0| 38.64999999999999|         39255|INSTITUCION EDUCA...|
|     18.0|50.411249999999995|         39255|INSTITUCION EDUCA...|
|     16.0|          80.22625|         39255|INSTITUCION EDUCA...|
|     17.0|47.779999999999994|         39255|INSTITUCION EDUCA...|
|     18.0|          49.04875|         39255|INSTITUCION EDUCA...|
|     17.0|          54.02375|         39255|INSTITUCION EDUCA...|
|     19.0| 47.13250000000001|         39255|INSTITUCION EDUCA...|
|     17.0|          58.15875|         39255|INSTITUCION EDUCA...|
|     16.0| 51.73875000000001|         39255|INSTITUCION EDUCA...|
|     18.0|          42.43625|         39255|INSTITUCION EDUCA...|
|     19.0| 53.82499999999999|         39255|INSTITUCION EDUCA...|
|     17.0|            57.045|         39255|INSTITUCION EDUCA...|
|     17.0| 51.39750000000001|         39255|INSTITUCION EDUCA...|
|     17.0|            47.575|         39255|INSTITUCION EDUCA...|
|     17.0|49.949999999999996|         39255|INSTITUCION EDUCA...|
|     17.0|          46.08875|         39255|INSTITUCION EDUCA...|
|     17.0|           49.0225|         39255|INSTITUCION EDUCA...|
|     17.0|51.428749999999994|         39255|INSTITUCION EDUCA...|
|     17.0|          44.91375|         39255|INSTITUCION EDUCA...|
|     17.0|           52.1325|         39255|INSTITUCION EDUCA...|
|     20.0|44.527499999999996|         39255|INSTITUCION EDUCA...|
|     19.0|          51.86875|         39255|INSTITUCION EDUCA...|
|     16.0|           51.8875|         39255|INSTITUCION EDUCA...|
|     18.0|           52.0325|         39255|INSTITUCION EDUCA...|
|     16.0|63.153749999999995|         39255|INSTITUCION EDUCA...|
|     17.0|           51.1875|         39255|INSTITUCION EDUCA...|
|     18.0|          45.74125|         39255|INSTITUCION EDUCA...|
|     17.0|            66.845|         39255|INSTITUCION EDUCA...|
|     17.0|          61.86125|         39255|INSTITUCION EDUCA...|
|     17.0| 62.92124999999999|         39255|INSTITUCION EDUCA...|
|     17.0|          53.25375|         39255|INSTITUCION EDUCA...|
|     18.0| 55.87375000000001|         39255|INSTITUCION EDUCA...|
|     17.0|           46.2675|         39255|INSTITUCION EDUCA...|
|     16.0|           56.0175|         39255|INSTITUCION EDUCA...|
|     18.0|           43.1825|         39255|INSTITUCION EDUCA...|
|     17.0|48.745000000000005|         39255|INSTITUCION EDUCA...|
|     16.0|             42.53|         39255|INSTITUCION EDUCA...|
|     17.0|          58.32125|         39255|INSTITUCION EDUCA...|
|     16.0|45.824999999999996|         39255|INSTITUCION EDUCA...|
|     18.0|          53.11875|         39255|INSTITUCION EDUCA...|
|     17.0|51.028749999999995|         39255|INSTITUCION EDUCA...|
|     20.0|41.113749999999996|         39255|INSTITUCION EDUCA...|
|     16.0| 57.50749999999999|         39255|INSTITUCION EDUCA...|
|     19.0| 52.83250000000001|         39255|INSTITUCION EDUCA...|
+---------+------------------+--------------+--------------------+

In [12]:
df.createOrReplaceTempView('mi_tabla')
sql=("select estu_zona_reside,min(fami_estrato_vivienda),max(fami_estrato_vivienda),avg(fami_estrato_vivienda) prom from"
     " mi_tabla group by estu_zona_reside" )
spark.sql(sql).show()

+----------------+--------------------------+--------------------------+--------------------+
|estu_zona_reside|min(fami_estrato_vivienda)|max(fami_estrato_vivienda)|                prom|
+----------------+--------------------------+--------------------------+--------------------+
|             8.0|                       1.0|                       3.0|                 2.5|
|             0.0|                       0.0|                       1.0|0.014925373134328358|
|             7.0|                       1.0|                       5.0|  1.5263157894736843|
|             1.0|                       0.0|                       3.0|  1.6666666666666667|
|             4.0|                       0.0|                       5.0|  1.7777777777777777|
|             3.0|                       2.0|                       3.0|                 2.4|
|             2.0|                       1.0|                       3.0|  1.6666666666666667|
|            10.0|                       0.0|                       6.0|  1.3503839732888148|
|             6.0|                       1.0|                       2.0|                1.75|
|             5.0|                       1.0|                       3.0|                 2.0|
|             9.0|                       2.0|                       3.0|                 2.2|
+----------------+--------------------------+--------------------------+--------------------+

In [19]:
sql1=("select estu_zona_reside,min(fami_estrato_vivienda),max(fami_estrato_vivienda),avg(fami_estrato_vivienda) from"
    + " mi_tabla group by estu_zona_reside" 
    +" having avg(fami_estrato_vivienda)=(select max(t1.prom)"
    +" from (select estu_zona_reside,avg(fami_estrato_vivienda) prom from"
     +" mi_tabla group by estu_zona_reside)t1)" )

spark.sql(sql1).show()

+----------------+--------------------------+--------------------------+--------------------------+
|estu_zona_reside|min(fami_estrato_vivienda)|max(fami_estrato_vivienda)|avg(fami_estrato_vivienda)|
+----------------+--------------------------+--------------------------+--------------------------+
|             8.0|                       1.0|                       3.0|                       2.5|
+----------------+--------------------------+--------------------------+--------------------------+

In [15]:
sql1

'select estu_zona_reside,min(fami_estrato_vivienda),max(fami_estrato_vivienda),avg(fami_estrato_vivienda) from mi_tabla group by estu_zona_reside having avg(fami_estrato_vivienda)=(  select max(t1.prom) from (select estu_zona_reside,min(fami_estrato_vivienda),max(fami_estrato_vivienda),avg(fami_estrato_vivienda) from mi_tabla group by estu_zona_reside))t1'

In [8]:
df.createOrReplaceTempView('icfesview')
spark .sql("select cole_cod_icfes,cole_nombre_sede,prom_puntaje from icfesview where prom_puntaje = (select max(prom_puntaje) from icfesview)").show()

+--------------+--------------------+-----------------+
|cole_cod_icfes|    cole_nombre_sede|     prom_puntaje|
+--------------+--------------------+-----------------+
|         11882|COLEGIO NACIONAL ...|86.18500000000002|
+--------------+--------------------+-----------------+